/*Inicio Estilos Generales*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Ubuntu', sans-serif;;
    text-align: center;
}

.content{
    padding: 3.5em 2em;
    position: relative;
    width: 100%;
}

.seconds-titles{
    color: rgba(0, 0, 0, .5);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2rem;
    margin: 0.5em 0;
    text-transform: uppercase;
}

.link{
    text-decoration: none;
    text-transform: uppercase;
}

/*Fin Estilos Generales*/

/*Inicio HEADER*/

.header{
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    width: 100%;
    z-index: 100;
}

.div-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    min-height: 70px;
}

.name-logo{
    text-decoration: none;
}

.div-header-text{
    color: rgba(0, 210, 100, 1);
    font-size: 2rem;
    font-family: 'Ms Madi', cursive;
    font-weight: 400;
}

.header-list{
    display: flex;
    list-style: none;
}

.list-item{
    display: inline-block;
    margin-left: 35px;
}

.header-link{
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    transition: all .2s;
}

.header-link:hover{
    color: rgba(0, 210, 100, 1);
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(0, 210, 100, 1);
}

/*Fin HEADER*/

/*Section Home*/

.content-media{
    height:100vh;
}

.media{
    bottom: 0;
    left: 50%;
    position: absolute;
    transform: translatex(-50%);
    width: 100%;
    z-index: -10;
}

.content-media-center{
    padding: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 45px;
    transform: translate(-50%,-50%);
    width: 50%;
}

.globo{
    background: url(/assets/img/sharpshooter_t.png) no-repeat;
    background-size: cover;
    height: 12rem;
    margin-left: auto;
    margin-right: auto;
    width: 12.5rem;
}

.title{
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2.2rem;
    letter-spacing: 2px;
    margin: 0;
    text-transform: uppercase;
    word-spacing: 5px;
}

.paragraph{
    color: rgba(255, 255, 255, 1);
    font-size: 2rem;
    line-height: 1em;
    padding: 0 20%;
} 

.link-home{
    background:rgba(0, 210, 100, 1);
    border-radius: 0.25em;
    color: rgba(255, 255, 255, 1);
    display: block;
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 0.82em 0;
    transition: all .6s;
    width: 12rem;
}

.link-home:hover{
    background: rgb(4, 112, 56);
}

.link-home:active,
.topics-links:active,
.inputs-contact[type="submit"]:active{
    transform: scale(.9);
}

.abajo{
    background: url(/assets/svg/abajo.svg);
    display: block;
    height: 3rem;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    transition: all .5s;
    width: 3rem;
}

.link-home:hover +  .abajo{
    opacity: 0.5;
    margin-top: 15px;
}

/*Fin Section HOME*/

/*Inicion Section Topics*/

.article-topics{
    column-count: 3;
    column-gap: 6em;
    padding-top: 0.5em;
}

.img:first-of-type{
    background-image: url(/assets/img/uno.jpg);
}

.img:nth-of-type(2){
    background-image: url(/assets/img/dos.jpg);
}

.img:last-of-type{
    background-image: url(/assets/img/tres.jpg);
} 

.img{
    background-size: cover;
    border-radius: 50%;
    border: 0.65em solid rgba(0, 210, 100, 1);
    height: 12rem;
    margin: 0 auto 1.5em;
    width: 12rem;
}

.thirth-title{
    color: rgba(0, 210, 100, 1);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5rem;
    margin: 0.5em 0;
    text-transform: uppercase;
}

.topics-links{
    background: linear-gradient(rgba(0, 210, 100, 1), rgba(0, 130, 60, 1));
    border-radius: 0.35em;
    color: rgba(255, 255, 255, 1);
    display: block;
    font-size: 1.1rem;
    font-weight: 500;
    margin: 1.25em auto 2em;
    padding: 0.75em 0;
    transition: all 0.5s;
    text-decoration: none;
    width: 10rem;
}

.topics-links:hover{
    opacity: 0.8;
}

/*Fin Section Topics*/

/*Inicio Section Gallery*/
.photos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.gallery-link{
    display: block;
    margin: 3px;
    transition: all .3s;
}

.gallery-image{
    filter: brightness(.8);
    height: 200px;
    width: 250px;
}

.gallery-image:hover{
    filter: none;
    opacity: .9;
    transition: all .3s;
}

/*Fin Section Gallery*/

/*Inicio Section Contact*/

.contact{
    padding: 0 30px;
}

.content-contact{
    display: flex;
    justify-content: center;
}

    .form,
.map{
    width: 50%;
}

.form{
    text-align: left;
}

.iframe{
    border: 0;
    width: 100%;
    height: 380px;
}

.inputs-contact,
.textarea{
    width: 95%;
    color: rgba(0, 210, 100, 1);
    border-radius: 0.25em;
    border: 0.09375rem solid rgba(204, 204, 204, 1);
    margin: 0.65em;
    padding: 0.65em;
    resize: none;
    outline: none;
}

.textarea{
    height: 117px;
}

.inputs-contact[type="submit"]{
    background: linear-gradient(rgba(0, 210, 100, 1), rgba(0, 130, 60, 1));
    border: 0;
    color: rgba(255, 255, 255, 1);
    transition: all .6s;
}

.inputs-contact[type="submit"]:hover{
    opacity: .9;
}

/*Fin Section Contact*/

/*Inicio Footer*/

.footer{
    background-color: rgba(0, 0, 0, .6);
    border-top: 5px solid rgba(0, 210, 100, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0.5em 1em;
    position: relative;
    width: 100%;
}

.up{
    background: url(/assets/svg/arriba.svg);
    height: 3rem;
    position: absolute;
    bottom: 1em;
    right: 1em;
    width: 3rem;
}